<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgj.mps.dao.mapper.DeviceStatusMapper">
    <resultMap id="BaseResultMap" type="com.zgj.mps.bean.DeviceStatusBean">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_mac" jdbcType="VARCHAR" property="deviceMac"/>
        <result column="time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="pageDeviceStatus" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT t.id,d.device_mac,d.device_name,t.time from device_status t,device d where t.device_id=d.id
        <if test="deviceName!='' and deviceName != null">
            and d.device_name like CONCAT('%',#{deviceName},'%')
        </if>
        <if test="deviceMac!='' and deviceMac != null">
            and d.device_mac like CONCAT('%',#{deviceMac},'%')
        </if>
        order by t.time desc
    </select>
</mapper>